# ============================================================
#  Telegram Channel Parser Bot — конфигурация
# ============================================================

# 1. Получи на https://my.telegram.org → "API development tools"
API_ID=6097047
API_HASH=82bd6f7b28d1eacaa02160240481eac7

# 2. Получи у @BotFather командой /newbot
BOT_TOKEN=2012473186:AAHbVeOf2-Nz48Nj7Ogru0b_cezzIl7yx_4

# 3. Папка для сохранения JSON-файлов (создаётся автоматически)
OUTPUT_DIR=output
